/*first article of the section*/
.grid{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 650px 650px 650px 650px;
    /* background-color: blue; */
}
span{
    background-color: coral;
    color: white;
    padding: 10.5px;
}
.mycontent{
  /* align-content: center; */
  padding: 8px;
  border-bottom: 3px solid coral;
  font-size: 30px;
  
}
/*adding flex layout to arrage the article content in row*/
.intro{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} 
h4{
font-family: courier;
font-size: 20px;
color: rgb(73, 63, 63);
}
p{
  text-indent: 70px;
  text-align: justify;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 25px;;
  color: rgb(61, 58, 58);

}
/*giving more space to the first content of the article*/
#article1{
  flex: 4;
}
#art2{
  flex: 2;
  order: 1;
}
#art3{
  flex: 2;
  
}
#a{
  text-align: center;
}
#image2{
  margin-top: 20px;
  width:300px;
  height: 150px
}
#art2 a:hover{
  zoom: 120% ;
}

/* Article2 of the main section*/


.intro2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

#part2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
} 

#article2{
    flex: 3;
    margin-right: 30px;
}
.button {
    background-color: rgba(236, 230, 230, 0.815); /* Green */
    border: none;
    border-radius: 0.5em;
    color: rgb(80, 72, 72);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    padding: 6px;
  
  }
#res:hover{
        zoom: 130%
}

/*article3*/
.header{ grid-area: header;}
    .nav{ grid-area: nav;}
    .main{ grid-area: article;}
    .footer{ grid-area: footer;}

#projectinfo{
    display: flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
}  
  
#machn{
    flex:1;
    margin-top: 30px;
}
#machn1{
    flex:1;
    margin-top: 5px;
}

/*article 4*/

.item1 { grid-area: name; }
.item2 { grid-area: email; }
.item3 { grid-area: message; }
.item4 { grid-area: submit; }

.grid-container{
   display: grid;
   grid-template-areas:
        'name email'
        'message message'
      
        'submit submit';
        grid-gap: 20px;
        padding: 10px;
}
/* .a{
  margin-bottom: 10px;
} */
input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.item3{
  height: 100px;
}
textarea{
  width: 85%;
  height: 100px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ccc;
}

#sub{
  color: white;
  background-color: coral;
  padding: 2px 4px;
  width: 15%;
  margin-top: 15px;
  height: 40px;
      
}

#end{
  height: 155px;
  background-color: rgb(69, 70, 66);
}
#second{
  margin-left:10px;
  margin-right:10px;
  padding-top: 20px;
  height: 60px;
  background-color: rgb(122, 120, 120);
}
/* #second a{
     margin-top: 80px;
} */

#copyright{
       margin-top: 20px;
       margin-left: 10px;
       text-align: left;
       color: white;
}